@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

*{   
    margin: 0;
    padding: 0;
}

body{
    background: #e6e6e6;
    line-height: 1.8;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1b0000;
}

a{
    font-weight: 700;
    transition: all 0.4s ease;
}

img{
    width: 100%;
}

small{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

section{
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    background: #141414; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo-text{
    font-size: 22px;
    text-transform: uppercase;
    color: #771d1d;
}
.navbar .nav-link{
    font-size: 12px;
    font-weight: 700;
    color: #838383;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar .nav-link:hover{
    color: #771d1d;
}

.navbar .nav-link.active{
    color: #771d1d;
}

#home{
    background:  url(images/wllpHome.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.transiction{
    background:  url(images/universe.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 60vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.hline{
    width:30px;
    height: 3px;
    background-color: #5c3c3c;
    margin: 16px auto 16px auto;
    border-radius: 10px;
}

.citacao{
    padding-top: 0px;
    padding-bottom: 0px;
    color: #4e4e4e;
    font-style: italic;
}

#cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.card{
    width: 150px;
    height: 150px;
    margin: 50px;
    padding: 0 1.5em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    /*Cor do Card*/
    background: #720c0c;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    /*Velocidade que o card desce*/
    transition: all .4s;
}
.card img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    /*Velocidade que a imagem sobe*/
    transition: all .4s;
}

.card:hover img{
    margin-top: -30px;
}
.card:hover{
    width: 155px;
}
.card::before{
    content: '';
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 10px;
    /*Fonte*/
    color: #771d1d;
}
.card a{
    color: #d8d8d8;
    text-decoration: none;
    margin: 0.5em 0;
    font-size: 0.8em;
    display: none;
    opacity: 0;
    transition: all .4s;
}
.card:hover a{
    display: block;
    opacity: 1;
}