@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

*{   
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.8;
    color: #898fa1;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #001b02;
}

a{
    font-weight: 700;
    transition: all 0.4s ease;
}

img{
    width: 100%;
}

small{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.navbar {
    background: #f2fcf3; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.logo-text{
    font-size: 22px;
    text-transform: uppercase;
    color: #06350a;
}
.navbar .nav-link{
    font-size: 12px;
    font-weight: 700;
    color: #838383;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar .nav-link.active{
    color: #06350a;
}

#home{
    background: linear-gradient(to left, #053814a8, #302c04a8), url(images/howlsBg.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
#home h1{
    font-weight:700;
}
#home p{
    max-width: 550px;
    margin: 12px auto;
}

.pattern-style{
    text-align: justify;
}
.pattern-style h1{
    font-size: 32px;
    font-weight: 900;
}
.pattern-style p{
    max-width: 700px;
    margin: 5px auto;
}